In [2]:
from ucimlrepo import fetch_ucirepo
import numpy as np
import pandas as pd

In [3]:
# fetch dataset
online_retail = fetch_ucirepo(id=352)

In [12]:
# data (as pandas dataframes) 
X = online_retail.data.features

In [13]:
X.tail()

,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [13]:
X['Date'] = pd.to_datetime(X['InvoiceDate'])

C:\Users\Marcos\AppData\Local\Temp\ipykernel_17792\2852060116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Date'] = pd.to_datetime(X['InvoiceDate'])